<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dl.dropbox.com/s/alo9v5kdj3fiw46/playstarslot-mobile.ipa</string>
				</dict>
				<dict>
                  <key>kind</key>
                  <string>display-image</string>
                  <!-- optional. icon needs shine effect applied. -->
                  <!-- 選擇，ICON Shine/Gloss 效果是否開啟-->
                  <key>needs-shine</key>
                  <true />
                  <key>url</key>
                  <string>https://ipa.iplaystar.net/PSS-ON-00001.png</string>
               </dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.playstar.game</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>41A472</string>
				<key>title</key>
				<string>playstarslot</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
